* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-image: url(./background.jpg);
}

.App {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.card {
  background: white;
  padding: 2rem 3rem;
}

.card p {
  padding-top: 1rem;
  line-height: 150%;
}

/* justify-content: space-between; */

/* .barcode {
  display: flex;
  align-items: center;
} */

.headerDiv {
  display: flex;

}
/* 
.inputDiv {
} 

.barcodeDiv {
}
 */






.App-logo {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
} */
/* .App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
