* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
:root {
  --card-bg: rgb(20, 20, 20);
}
#root {
  background-image: linear-gradient(to bottom left, #b30a0a, #3a3131);
  min-height: 100vh;
  min-width: 100vw;
  /* min-height and min-width make the background gradient fill the entire viewport */  
}
.App {
  /* max-height: 100vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .fitToScreen {
  height: auto;
  width: auto;
} */

.headerDiv {
  display: flex;
  color: rgb(160, 165, 199);
  padding: 1vh 2vw;
  margin: 1vh 20vw 2vh;
}
.headerText {
  line-height: 50%;
}
/* this is the old, rounded header
.headerDiv {
  display: flex;
  color: rgb(160, 165, 199);
  background-color: rgb(20, 20, 20);
  padding: 1vh 2vw;
  border-radius: 2rem;
  margin: 1vh 20vw 2vh;
  box-shadow: 0px 10px 30px rgba(0,0,0, 0.5);
} */

.card {
  background: var(--card-bg);
  background-color:rgb(20, 20, 20);
  background-image: var(--card-bg);
  padding: 10px;
  margin: 3vh 20vw 1vh;

}

.card p {
  padding-top: 1rem;
  /* line-height: 150%; */
}



/* *** THIS IS FOR THE REACT LOGO */

.App-logo {
  height: 10vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 7s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 

/* justify-content: space-between; */

/* .barcode {
  display: flex;
  align-items: center;
} */

/* 
.inputDiv {
} 

.barcodeDiv {
}
 */


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
} */
/* .App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
